# macOS system files
.DS_Store
.LSOverride
Icon

# Log files
*.log

# Dependency directories
node_modules/

# Cloudflare Wrangler local development files
# This is very important to add!
.wrangler/

# Environment variables file